<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="createuser">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Crear Usuario</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/plantilla" routerDirection="root">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Cargar Plantilla</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
